body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background: linear-gradient(180deg, #000000 0%, #26327F 100%); /* Gradiente Alura*/
    display: flex; /* Flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 100vh; /* Altura total da viewport */
    width: 100%; /* Largura total da viewport */
    margin: 0; 
}

.container {
    width: 400px; /* Largura máxima para o container */
    background-color: #ffffff; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    padding: 30px; 
    border-radius: 15px; 
    text-align: center; 
}

h1 {
    color: #34495e; /* Título em cor escura */
    font-size: 2.5em;
    margin-bottom: 5px;
}

h5 {
    color: #7f8c8d; /* Subtítulo em cinza */
    margin-top: 0;
}

label {
    display: block; /* Garante que cada label fica em uma nova linha */
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
    color: #34495e;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 2px solid #bdc3c7;
    border-radius: 8px;
    transition: border-color 0.3s;
    box-sizing: border-box; /* Garante que padding e border não alterem o tamanho */
}

input:focus {
    border-color: #1abc9c; /* Verde-água ao focar */
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    background-color: #1abc9c; /* Fundo verde-água vibrante */
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #16a085; /* Tom mais escuro ao passar o mouse */
}

#resultadoImc {
    font-size: 3em; /* Tamanho do resultado maior */
    color: #1abc9c; /* Cor de destaque */
    font-weight: bold;
    display: block;
    margin-top: 10px;
}